/* CSS Stylesheet */

/* ToDo */
* {
    padding: 0;
    margin: 0;
    /* font-family: "Poppins", sans-serif; */
    font-family: "Noto Sans Thai", sans-serif;

}


nav {
    background-color: #f8eedc;
    text-align: center;
    padding: 20px;
}

nav li {
    padding: 20px 10px 10px 10px;
    display: inline-block;

}

/* nav li a {
    color: white;
    font-size: small;
    font-weight: 600;
    text-decoration: none;
} */

nav #banner{
    height: 60vh;
    background-color: #E6EDF5;
    background-image: url('banner.HEIC');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 85%;
}

nav #bannerfilter{
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.5);
}

#logo {
    text-transform: uppercase;
    padding: 6px 15px 6px 15px;
    border-radius: 20px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




header section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



#menu {
    background-color: #f8eedc;
    padding: 20px 20px 20px 20px;
}

#menu button {
    background-color: #aabe88;
    color: #5d684a;
    border: 0;
    border-radius: 15px;
    padding: 5px 20px 5px 20px;
    margin: 3px;
}

button:hover{
    opacity: 0.5;
    cursor: pointer;
}

article section {
    padding: 40px 100px 40px 100px;
}


.bg-beige{
    background-color:white ;
}

section h3{
    color: #556834;
}

/* .bg-beige h6{
    color: #859569;
} */


.bg-dark {
    background-color: #f8eedc
}

.bg-dark h3, .bg-dark a {
    color: white;
    font-weight: bold;
}
.bg-dark p {
    color: #aabe88;
    font-size: small;
}
.bg-dark blockquote{
    background-color: #f8eedc;
    color: white;
}


.bg-white p {
    font-size: small;
}
.bg-white h3, .bg-white a {
    font-weight: bold;
}
.bg-white blockquote{
    background-color: #292d30;
    color: #aabe88;
}


.bg-blue{
    background-color: #aabe88;
}
.bg-blue h3, .bg-blue a {
    color: #292d30;
    font-weight: bold;
}
.bg-blue p {
    color: #292d30;
    font-size: small;
}
.bg-blue blockquote{
    background-color: #b9e3dd;
    color: #292d30;
}


.flex {
    display: flex;
}

aside div{
    margin: 2%;
}

blockquote {
    margin-top: 3px;
    width: 100%;
    padding: 10px 5px 10px 5px;
    font-size: 10px;
    font-style: italic;
}

footer{
    background-color: #aabe88;
}
footer section {
    /* margin: 1%; */
    font-size: small;
    color: #f8eedc;
    text-align: center;

}



@media (max-width: 1000px) {

    .flex{
        display: block;
    }
    article section {
        padding: 40px 20px 40px 20px;
    }
}